Web/Web References/SWMiravalle/ServicioNotificacion.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="NotificarProductosVencidos">
        <s:complexType />
      </s:element>
      <s:element name="NotificarProductosVencidosResponse">
        <s:complexType />
      </s:element>
      <s:element name="ConsultarProducto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="IdTipoProducto" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="IdProducto" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultarProductoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultarProductoResult" type="tns:ArrayOfProductoDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfProductoDTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ProductoDTO" nillable="true" type="tns:ProductoDTO" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ProductoDTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="nombreproducto" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="idproducto" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="tipo" type="tns:TipoProductoDTO" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TipoProductoDTO" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="NotificarProductosVencidosSoapIn">
    <wsdl:part name="parameters" element="tns:NotificarProductosVencidos" />
  </wsdl:message>
  <wsdl:message name="NotificarProductosVencidosSoapOut">
    <wsdl:part name="parameters" element="tns:NotificarProductosVencidosResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultarProductoSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultarProducto" />
  </wsdl:message>
  <wsdl:message name="ConsultarProductoSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultarProductoResponse" />
  </wsdl:message>
  <wsdl:portType name="ServicioNotificacionSoap">
    <wsdl:operation name="NotificarProductosVencidos">
      <wsdl:input message="tns:NotificarProductosVencidosSoapIn" />
      <wsdl:output message="tns:NotificarProductosVencidosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarProducto">
      <wsdl:input message="tns:ConsultarProductoSoapIn" />
      <wsdl:output message="tns:ConsultarProductoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicioNotificacionSoap" type="tns:ServicioNotificacionSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="NotificarProductosVencidos">
      <soap:operation soapAction="http://tempuri.org/NotificarProductosVencidos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarProducto">
      <soap:operation soapAction="http://tempuri.org/ConsultarProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServicioNotificacionSoap12" type="tns:ServicioNotificacionSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="NotificarProductosVencidos">
      <soap12:operation soapAction="http://tempuri.org/NotificarProductosVencidos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarProducto">
      <soap12:operation soapAction="http://tempuri.org/ConsultarProducto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioNotificacion">
    <wsdl:port name="ServicioNotificacionSoap" binding="tns:ServicioNotificacionSoap">
      <soap:address location="http://localhost:55789/ServiciosWeb/ServicioNotificacion.asmx" />
    </wsdl:port>
    <wsdl:port name="ServicioNotificacionSoap12" binding="tns:ServicioNotificacionSoap12">
      <soap12:address location="http://localhost:55789/ServiciosWeb/ServicioNotificacion.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>